<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App 6</title>
  </head>
  <body>
    <h1>App 6 Home</h1>
    <p>This is the App 6 page.</p>
    <nav class="nav-links">
        <a href="/app1/"> Home </a>
        <a href="/app3/"> EARTH ORB </a>
        <a href="/app4/"> WORLD VIEW </a>
        <a href="/app5/"> NEWS </a>
        <a href="/app6/"> app06 </a>
        <a href="/app2/logout" class="logout">logout</a>
      </nav>
  </body>
</html>
