<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App 3</title>
  </head>
  <body>
    <h1>EARTH ORB</h1>
    <p>This is the App 3 page.</p>
    <nav class="nav-links">
        <a href="/app1/">Home</a>
        <a href="/app3/">EARTH ORB</a>
        <a href="/app4/">app04</a>
        <a href="/app5/">NEWS</a>
        <a href="/app6/">app06</a>
        <a href="/app2/logout" class="logout">logout</a>
      </nav>
  </body>
</html>
